:root {
	--turtle-nest-primary: rgb(197, 255, 134);
	--turtle-nest-secondary: rgb(252, 255, 153);
	--dock-secondary: #FFC0B7;
	
	--side-padding: 80px;
	--button-accent: rgb(0, 164, 187);
	
}

/* semantic color variables for this project */
:root {

}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/

/*  }*/
/*}*/

@font-face {
	font-family: Anybody;
	src: url('./Anybody-Variable.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Lexend;
	src: url('./Lexend-Variable.ttf');
	/*font-weight: bold;*/
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	/*font-family:*/
	/*  Inter,*/
	/*  -apple-system,*/
	/*  BlinkMacSystemFont,*/
	/*  'Segoe UI',*/
	/*  Roboto,*/
	/*  Oxygen,*/
	/*  Ubuntu,*/
	/*  Cantarell,*/
	/*  'Fira Sans',*/
	/*  'Droid Sans',*/
	/*  'Helvetica Neue',*/
	/*  sans-serif;*/

}

* {
	font-family: Lexend, serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
